@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.body {
    
}

.main {
  display: grid;
  grid-template: 1fr 6fr /1fr 4fr;
  width: 98vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  border: 0cm;
}

.header {
    background-color: #69D2E7;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 6px;
    height: 15vh;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    padding-left: 4px;
}

.profile-pic {
    border-radius: 50%;
}

.sidebar {
    grid-row: 1 / 7;
    background-color: #A7DBD8;
    font-weight: bold;
    width: 20vw;
    gap: 15%;
    min-width: 170px;
    height: 100vh;
    list-style: none;
    place-items: center;
}

.sidebar-heading {
    grid-area: 1 / 1;
    margin-top: 20px;
    padding-left: 8px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    height: fit-content;
}

.site-navigation {
    padding-top: 8vh;
}

.side-content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    padding: 8px;
}

.settings {
    padding-top: 40vh;
}

.settings-content {
    display: grid;
    align-items: center;
    height: fit-content;
    grid-template-columns: 1fr 3fr;
    padding: 8px;
}


.main-content {
    background-color: #E0E4CC;
    display: grid;
    grid-template-columns: 5fr 2fr;
    /* grid-template-rows: auto; */
    width: 100%;
}

.projects-heading {
    padding-left: 4rem;
    padding-top: 2rem;
}

.projects {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-row: 2 / 6;
    height: 70vh;
    padding: 4rem;
}

.project-content {
    display: grid;
    align-items: center;
    background-color: #A7DBD8;
    text-align: center;
    padding: 12px;
    height: 150px;
    width: 150px;
}

.announcements {
    display: grid;
    grid-row: 1 / 7;
    grid-template-rows: 30% 30% 20% 30%;
    background-color: #F38630;
    gap: 6px;
    width: 23vw;
    min-width: 170px;
    height: 70vh;
}

.announcements-feed {
    display: grid;
    align-items: center;
    padding-left: 8px;
}

.announcements-content {
    display: grid;
    text-align: center;
    background-color: #A7DBD8;
    gap: 10px;
    width: 20vw;
    min-width: 150px;
    height: 150px;
}

.trending-feed {
    display: grid;
    align-items: center;
    padding-left: 8px;
}

.footer {

}


/* Pallette */

#69D2E7,
#A7DBD8,#E0E4CC,#F38630,#FA6900,#69D2E7,#A7DBD8,#E0E4CC
<a href="https://www.colourlovers.com/palette/92095/Giant_Goldfish" target="_blank">
<img src="https://www.colourlovers.com/images/badges/p/92/92095_Giant_Goldfish.png" style="width: 240px; height: 120px; border: 0 none;" alt="Giant_Goldfish" /></a><br /><span style="font-size: 10px; color: #5e5e5e;"><a href="//www.colourlovers.com/color" target="_blank" style="font-size: 10px; color: #5e5e5e;">Color</a> by <a href="//www.colourlovers.com/" target="_blank" style="font-size: 10px; color: #5e5e5e;">COLOURlovers</a></span>