
* {
    /* gap: 6px; */
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;

}

.header {
    background-color: #69D2E7;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6px;
}

.logo {
    padding-left: 4px;
}

.profile-pic {
    border-radius: 50%;
}

.sidebar {
    display: grid;
    grid-row: 1 / 6;
    background-color: #A7DBD8;
    gap: 6px;
    
}

.site-navigation {
    gap: 6px;

}

.side-content {
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(5, 100px);
    margin: 2px;
}

.main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    
}

.projects {
    display: grid;
    background-color: #E0E4CC;
    gap: 6px;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(3, min(1fr, 50%));
    grid-template-columns: repeat(4, 1fr);
    grid-row: 2 / 6;
    padding: 4px;
}

.project-content {
    background-color: #A7DBD8;
    text-align: center;
    padding: 12px;
}

.announcements {
    display: grid;
    grid-row: 1 / 6;
    background-color: #F38630;
    gap: 6px;

}



.footer {

}


/* Pallette */

#69D2E7,
#A7DBD8,#E0E4CC,#F38630,#FA6900,#69D2E7,#A7DBD8,#E0E4CC
<a href="https://www.colourlovers.com/palette/92095/Giant_Goldfish" target="_blank">
<img src="https://www.colourlovers.com/images/badges/p/92/92095_Giant_Goldfish.png" style="width: 240px; height: 120px; border: 0 none;" alt="Giant_Goldfish" /></a><br /><span style="font-size: 10px; color: #5e5e5e;"><a href="//www.colourlovers.com/color" target="_blank" style="font-size: 10px; color: #5e5e5e;">Color</a> by <a href="//www.colourlovers.com/" target="_blank" style="font-size: 10px; color: #5e5e5e;">COLOURlovers</a></span>